.navbar {
  border-radius: 10px;
  padding: 0 20px;
  margin: 0 20px;
  box-shadow: 0px 3px 11px 0px rgba(0,0,0,0.5);
  text-transform: lowercase;

  &.transparent {
    @supports ((backdrop-filter: blur(30px))) or (-webkit-backdrop-filter: blur(30px)) {
      background-color: rgba(0, 0, 0, 0.6) !important;
      backdrop-filter: blur(30px);
      -webkit-backdrop-filter: blur(30px);

      .navbar-item:hover:not(.social-buttons):not(.navbar-logo):not(.navbar-burger) {
        background-color: rgba(0, 0, 0, 0.3) !important;
      }

      .navbar-menu {
        box-shadow: none;
      }
    }

  }

  .navbar-brand {
    margin: 0.5rem;

    .navbar-item:hover {
      background-color: transparent !important;
    }
  }

  .social-buttons:hover {
    background-color: transparent !important;
  }

  .navbar-menu {
    background-color: transparent;

    .navbar-item {
      color: white;

      &:hover {
        background-color: transparent;
      }
    }

    .navbar-dropdown {
      background-color: #0a0a0a;
      border-color: #0a0a0a;
      .navbar-item {
        color: white;
      }
    }
  }

  // Fix bug where user icon jumps to top before being clicked on
  .navbar-link {
    .image {
      height: 3.25rem;
      display: flex;
      align-items: center;
    }
  }
}
