.navbar {
  border-radius: 10px;
  margin-top: 1rem;
  padding: 5px 20px;
  box-shadow: 0px 3px 11px 0px rgba(0,0,0,0.5);

  @supports ((backdrop-filter: blur(30px))) or (-webkit-backdrop-filter: blur(30px)) {
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
  }
}
