.video-background {
  position: absolute;
  overflow: hidden;

  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.75);

  video {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    max-width: none;
  }

  .play-button {
    position: absolute;
    left: 45%;
    top: 45%;
    width: 10%;
    opacity: 0;
    color: white;
    z-index: 10;
  }

  &.hover:not(.fullscreen) {
    .play-button {
      animation: breathing 2s ease-out 1 normal;
    }
  }

  &:hover:not(.fullscreen) {
    cursor: pointer;
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 0.5;
  }

  60% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.8;
  }

  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0;
  }
}
