@font-face {
  font-family: 'Soin Sans Neue';
  src: url('/static/fonts/SoinSansNeue-Black.otf') format('opentype');
  font-weight: 800;
}

@font-face {
  font-family: 'Soin Sans Neue';
  src: url('/static/fonts/SoinSansNeue-Heavy.otf') format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'Soin Sans Neue';
  src: url('/static/fonts/SoinSansNeue-Bold.otf') format('opentype');
  font-weight: 600;
}

@font-face {
  font-family: 'Soin Sans Neue';
  src: url('/static/fonts/SoinSansNeue-Medium.otf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'Soin Sans Neue';
  src: url('/static/fonts/SoinSansNeue-Roman.otf') format('opentype');
}

@font-face {
  font-family: 'Soin Sans Neue';
  src: url('/static/fonts/SoinSansNeue-Light.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'Soin Sans Neue';
  src: url('/static/fonts/SoinSansNeue-ExtraLight.otf') format('opentype');
  font-weight: 200;
}

@font-face {
  font-family: 'Soin Sans Neue';
  src: url('/static/fonts/SoinSansNeue-Thin.otf') format('opentype');
  font-weight: 100;
}
