@font-face {
  font-family: 'Soin Sans Neue';
  src: url('/static/fonts/SoinSansNeue-Bold.otf') format('opentype');
  font-weight: 600;
}

@font-face {
  font-family: 'Soin Sans Neue';
  src: url('/static/fonts/SoinSansNeue-Roman.otf') format('opentype');
}
