@import "~bulma/sass/utilities/initial-variables";
// Colors taken from MTU's branding guide
$yellow: #FFCD00;
$green: #6ca438;
$orange: #ff4611;
$purple: #a42277;
$turquoise: #00bfd5;

$text: black;
$text-strong: black;
$title-color: black;
$white: #FAFAFA;
$body-background-color: $white;
$body-family: 'Soin Sans Neue', Helvetica, sans-serif;

$success: $yellow;

$navbar-breakpoint: $fullhd;

@import "~bulma/sass/utilities/functions";
@import "~bulma/bulma";
@import "~rbx/rbx";

// Custom overrides
@import "custom/box";
@import "custom/icons";

html, body {
  font-display: swap;
}

.page-container {
  position: relative;
  min-height: 100vh;
  padding-top: 1rem;
}

.content-wrap {
  padding-bottom: 6rem; // Footer height
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  padding: 0 3.5rem;
  margin: 0;
}

.title:not(.default-capitalization) {
  text-transform: lowercase;
}
