@import 'fonts';

// Colors taken from MTU's branding guide
$yellow: #FFCD00;
$green: #6ca438;
$orange: #ff4611;
$purple: #a42277;
$turquoise: #00bfd5;

$text: black;
$text-strong: black;
$title-color: black;
$white: #FAFAFA;
$body-background-color: $white;
$body-family: 'Soin Sans Neue';

$success: $yellow;

@import "~bulma/sass/utilities/functions";
@import "~bulma/bulma";
@import "~rbx/rbx";

// Custom overrides
@import "custom/box";

body {
  min-height: calc(100vh - 1rem);
}
